<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="./artifacts/global-packages" />
  </config>
  <packageSources>
    <clear />
    <add key="sample-feed" value="./artifacts/packages" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="sample-feed">
      <package pattern="Sukhpinder.DevTo.ToolExec.Demo" />
    </packageSource>
  </packageSourceMapping>
</configuration>
